<div style="margin-top:-20px;">
    <ol class="breadcrumb" style="background:pink; line-height: 35px;">
      <li style="width: 120px; height: 35px;"><a href="/app/list" style="text-decoration:none; color:white"><img src="/images/user.png" style="width:15%"> &nbsp Personal apps</a></li>
      <li class="active" style="color:white"><%= app.name %></li>
    </ol>
</div>
<div style="margin-top:-20px">
    <ul class="nav nav-pills" style="background:#E0E0E0;">
        <% for(var i = 0;i < funcs.length;i++){
            if(funcs[i]==func){ %>
            <li role="presentation" class="active"><a href="/app/info/<%= app.name %>/<%= funcs[i] %>"><%= funcs[i] %></a></li>
            <% } else{ %>
            <li role="presentation"><a href="/app/info/<%= app.name %>/<%= funcs[i] %>"><%= funcs[i] %></a></li>
            <% } %>
        <% }%>
  </ul>
</div>
